@font-face {
    font-family: 'Barkentina';
    src: url('Barkentina.woff2') format('woff2'),
        url('Barkentina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

